<div class="grpc">
  <button (click)="sayHello()">Say Hello</button>
</div>
<div class="grpc">
  <button (click)="testBranch()">Local Branch</button>
  <button (click)="testBranch2()">Local Branch via Yarp</button>
  <button (click)="testBranch3()">Test Branch via Yarp</button>
</div>
<div class="grpc">
  <button (click)="startStream()">Start Stream</button>
  <button (click)="stopStream()">Stop Stream</button>
</div>
<div class="grpc">
  <button (click)="clear()">Clear</button>
</div>

<div>
  Messages:
  <ul>
    <li *ngFor="let message of messages">{{message}}</li>
  </ul>
</div>
